.bottomSection {
    background-color: black;
    min-height: 20%;
}

.bottomWeather {
    display: flex;
    justify-content: space-between;
}

// .bottomWeather ul {
//     // width: 20%;
// }

.cloudIcon, .cloudIcon img, .currentTemp {
    display: inline;
    width: 10%;
}

.cloudIcon img {
    width: 60%;
}

.currentTemp {
    font-size: 4rem;
}