// Bottom section
.bottomSection {
    background-color: black;
    height: 25%;
    min-height: 160px;
    display: flex;
    align-items: center;
    ul {
        width: 130px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
        background-color: white;
    }
}

.bottomWeather {
    display: flex;
    justify-content: space-between;
}

.currentTemp {
    font-size: 2.8rem;
    margin-left: -5px;
}

.flexIconDegrees {
    display: flex;
    width: 100%;
}

.currentTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
        display: block;
    }
}

.time {
    text-align: center;
}

.cloudIcon {
    margin-left: -5px;
    width: 50%;
}

.hide {
    display: none;
}

// Extra daily info 

ul.extraInfo {
    border-radius: 0;
    font-size: 1.6rem;
    height: 150px;
    padding: 5px;
}

.extraInfoDaily {
    margin-top: -8px;
}

.extraInfo .time {
    margin-bottom: -10px;
}

.moreInfo {
    text-align: center;
}

.moreWeatherInfoButton {
    height: 150px;
}