// Colors
// $black: #2c2c2c;
// $darkGreyBlue: #285e64;
// $orangeyYellow: #f6a823;
// // $grey: #4f4f4f;
// $accent: #05afc1;
// $rustRed: #a82706;
// $whiteShade: #f0efed;


// Fonts
@mixin nunitoFont(){
    font-family: 'Nunito', sans-serif;
    // font-size: $fontSizeLora;
    // letter-spacing: 0px;
    // color: $black;
    // line-height: 9.2rem;
    // text-transform: uppercase;
}

@mixin robRegFont(){
    font-family: 'Roboto', sans-serif;
    // font-size: $fontSizeLora;
    // letter-spacing: 0px;
    // color: $black;
    // line-height: 9.2rem;
    // text-transform: uppercase;
}





// General selectors
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

body {
    @include nunitoFont();
    color: green;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a, button {
    // background: $accent;
    line-height: 3.2rem;
    display: block;
}

a:hover, a:focus, button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus {
    background: black;
    border: 3px white solid; 
    color: white;
}

a, button {
    // @include robFont(2rem, $black);
    text-decoration: none;
    padding: 10px 30px;
    border: 3px transparent solid; 
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
    margin: 10px 0;
}

h2 {
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
}







