// Fonts
@mixin nunitoFont(){
    font-family: 'Nunito', sans-serif;
    // font-size: $fontSizeLora;
    // letter-spacing: 0px;
    // color: $black;
    // line-height: 9.2rem;
    // text-transform: uppercase;
}

@mixin robRegFont(){
    // font-family: 'Roboto', sans-serif;
    // font-size: $fontSizeLora;
    // letter-spacing: 0px;
    // color: $black;
    // line-height: 9.2rem;
    // text-transform: uppercase;
}

// General selectors
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

body {
    @include nunitoFont();
    color: pink;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    @include nunitoFont();
    text-decoration: none;
    border: 3px transparent solid; 
    display: block;
}

button:hover, button:focus, input:hover, input:focus {
    background: black;
    border: 3px white solid; 
    color: white;
}

ul {
    list-style: none;
}








