main {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

