main {
    // background: url(./assets/photos/noaa-Led9c1SSNFo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}