@media (max-width: 1266px) {
    // Top section left part
    .sideWeather {
        width: 50%
    }
    .sideSection{
        margin-left: 10%;
        width: 100%;
        min-width: 0;
    }

    .cityAndQuote {
        min-width: 0;
        margin-right: 5%;
        width: 50%;
    }

    // City name
    .cityAndQuote h2 {
        font-size: 2.5rem;
    }

    .hideShowForm p {
        font-size: 1.8rem;
    }
}


@media (max-width: 750px) {
    // Top section left part
}