.sideSection {
    // background-color: black;
    margin:0;
    // margin-left: calc(50% - 570px);
    // min-width: 570px;
    margin-left: calc(25% - 285px);
    max-width: 285px;
    // margin-left: 5%;
}

.sideWeather {
    background-color: black;
    width: 25%;
    // width: 50%;
    display: flex;
    justify-content: flex-end;
    min-height: 80%

    // max-width: 570px;
}