.sideSection {
    margin:0;
    margin-left: calc(25% - 285px);
    min-width: 285px;
}

.sideWeather {
    background-color: black;
    width: calc(50% - 285px);
    display: flex;
    justify-content: flex-end;
}

.topSection {
    display: flex;
    justify-content: space-between;
    min-height: 80%;
}

.cityAndQuote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: calc(50% - 570px);
    min-width: 855px;
}