.sideSection {
    margin:0;
    margin-left: calc(25% - 285px);
    min-width: 285px;
}

.sideWeather {
    background-color: black;
    width: calc(50% - 285px);
    display: flex;
    justify-content: flex-end;
}

.topSection {
    display: flex;
    justify-content: space-between;
    min-height: 80%;
}

.cityAndQuote {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    min-width: 855px;
    // width: calc(50% + 285px);
}